.header-img {
    height: 50vh;
    background-image: url("../../images/BarrelPic.jpg");
}

.about-content {
    display: flex;
    flex-flow: row wrap;
    margin: 120px 60px;
}

.about-header {
    margin-bottom: 40px;
}

.sign-up-section {
    display: flex;
    flex-flow: row wrap;
}

.sign-up-content {
    display: flex;
    flex-flow: column wrap;    
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 100vh;
}
.sign-up-headline {
    margin: 60px 0 60px;
}

input {
    width: 25vw;
    height: 5vh;
    margin: 10px;
    padding-left: 8px;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .75); 
}

.signup-button {
    font-size: 26px;
    letter-spacing: 1px;
    color: #ffffff;
    background-color: #406BF8;
    border: none;
    width: 26vw;
    height: 5vh;
    margin: 80px 0 50px 9px;
}

.login-link {
    text-align: center;
    font-weight: 200;
}

.login-links {
    font-size: 22px;
    letter-spacing: .4px;
}

.login-links:hover {
    font-size: 26px;
    letter-spacing: .7px;
}




