.landing-container {
  height: 100%;
  width: 100%;
}

img {
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 430px) {
  .landing-container {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #16151B;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
