.detail-name {
    margin: 40px 0;
    text-align: center;
}

.whisky-details {
    display: flex;
    flex-flow: row wrap;
padding-top: 9px;}

.detail-img-container {
    width: 475px;
    height: 625px;
}

.detail-img {
    max-width: 100%;
    height: 100%;
}

.detail-content {
    width: 875px;
    margin-left: 150px;
    line-height: 0;
}

.detail-text {
    padding: 10px 0;
    font-size: 24px;
}

.detail-category {
    font-size: 24px;
    font-weight: 400;
}


