.login-links {
    display: flex;
    flex-flow: row wrap; 
    justify-content: flex-end;
    width: 98vw;
    margin: 30px 0 30px 0;
}

a {
    text-decoration: none;
    padding: 15px;
    color: #000000;
    text-align: left;
}

.protected-links {
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-between;
    align-items: center;
    width: 99vw;
    background-color: #16151B;
    color: #ffffff;
}


