.login-links {
    display: flex;
    flex-flow: row wrap; 
    justify-content: flex-end;
    width: 98vw;
    margin: 20px 0 20px 0;
}

a {
    text-decoration: none;
    padding: 15px;
    color: #000000;
    text-align: left;
}


