.login-section {
    display: flex;
    flex-flow:row wrap;
}

.login-content {
    display: flex;
    flex-flow: column wrap;    
    justify-content: center;
    align-items: center;
    width: 45vw;
}

.login-welcome {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 100px;
    line-height: 55px;
}

.login-form {
    margin: 75px;
}

input {
    margin: 15px;
    padding-left: 8px;
}

.login-img {
    width: 54vw;
    height: 98vh;
}