* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    font-family: "Montserrat", "Nato Sans", "Roboto", sans-serif;
}

h1 {
    font-size: 46px;
    font-weight: 400;
    letter-spacing: 1px;
}

h2 {
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 1px;
}

p {
    font-size: 26px;
    font-weight: 200;
    letter-spacing: .4px;
    line-height: 37px;
}
  
a {
    font-size: 25px;
}

a:hover {
    color: #406BF8;
    font-weight: 600;
}

/* label {
    font-size: 26px;
    letter-spacing: 1px;
} */

input {
    font-size: 26px;
}

input::placeholder {
    color: #000000;
    letter-spacing: .6px;
}

button {
    font-size: 26px;
    letter-spacing: 1px;
    color: #ffffff;
    background-color: #406BF8;
    border: none;
}
