body {
    margin: 0;
    display: flex;
    font-family: "Montserrat", "Nato Sans", "Roboto", sans-serif;
}

h1 {
    font-size: 46px;
    padding-left: 25px;
    letter-spacing: 1px;
}
  
a {
    font-size: 24px;
}

label {
    font-size: 26px;
    letter-spacing: 1px;
}
