@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    font-family: "Montserrat", "Nato Sans", "Roboto", sans-serif;
}

h1 {
    font-size: 46px;
    font-weight: 400;
    letter-spacing: 1px;
}

h2 {
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 1px;
}

p {
    font-size: 22px;
    font-weight: 200;
    letter-spacing: .4px;
    line-height: 37px;
}

ul {
    display: flex;
    flex-flow: row wrap; 
    justify-content: flex-end;
    width: 98vw;
}
  
a {
    font-size: 30px;
    text-decoration: none;
}

a:hover {
    color: #406BF8;
    font-weight: 600;
}

li {
    text-decoration: none;
    padding: 15px;
}

input {
    font-size: 24px;
}

input::placeholder {
    color: #000000;
    letter-spacing: .6px;
} */

/* button {
    font-size: 28px;
    padding: 10px 100px;
    background-color: #406BF8;
    color: #ffffff;
    letter-spacing: 1px;
    border: none;
}

