.page-headline {
    margin: 30px 0 60px 20px;
}

.form-container {
    display: flex;
}

.img-field-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-input {
    margin: 13px 0 60px;
}



.content-field-container {
    display: flex;
    flex-flow: column wrap;
}

.two-column-input-fields {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 45vh;
}

.single-column-input-fields {
    display: flex;
    flex-direction: column;
    margin-left: 23px;
    height: 45vh;
}

.flavor-input {
    width: 58vw;
    padding: 12px;
    margin: 20px 0 20px 30px;
}

.notes-input {
    font-size: 24px;
    padding-left: 10px;
    width: 58vw;
    margin: 20px 30px;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .75)
}

.notes-input::placeholder {
    color: #000000;
    letter-spacing: .63px;
}

.submit-button {
    display: flex;
    
    font-size: 26px;
    color: #ffffff;
    letter-spacing: 1px;
    background-color: #406BF8;
    border: none;
    padding: 10px 100px;
    width: 25vw;
    margin: 20px 0 20px 280px;
}




